@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;     
}

body{
  background-color: #333333;
  color:#FFFFFF
}

/* width */
::-webkit-scrollbar {
    height: 10px;
  }
   
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;

}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #115e59;
  border-radius: 10px;

  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2dd4bf;
  }